
{% extends 'base.html' %}

{% block content %}
<h2>Agregar nuevo empleado</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="rut">RUT:</label>
        {{ trabajador_form.rut }}
    </div>
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        {{ trabajador_form.nombre }}
    </div>
    <div class="form-group">
        <label for="telefono">Teléfono:</label>
        {{ trabajador_form.telefono }}
    </div>
    <div class="form-group">
        <label for="direccion">Dirección:</label>
        {{ trabajador_form.direccion }}
    </div>
    <div class="form-group">
        <label for="cargo">Cargo:</label>
        {{ trabajador_form.cargo }}
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'listar_empleados' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
